<launch>
  <!-- 인자 정의 -->
  <arg name="robot_ip" doc="IP 주소 of the robot"/>
  <arg name="sim" default="false" doc="시뮬레이션 모드 여부"/>
  <arg name="mode" default="virtual" doc="그리퍼를 스폰하는 가상그리퍼 생성 / 실제 그리퍼에 연결"/>
  <!-- 키네마틱스 파일 경로 인자 추가 -->
  <arg name="kinematics_config" default="$(find ur_description)/config/ur10e/default_kinematics.yaml" doc="UR 로봇의 키네마틱스 구성 파일 경로"/>

  <!-- UR10e 로봇 런치 파일 포함 -->
  <include file="$(find ur_robot_driver)/launch/ur10e_bringup.launch">
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <!-- UR 로봇 드라이버에서 limited 인자를 제거 -->
    <arg name="use_tool_communication" value="true" />
    <!-- 키네마틱스 파일 경로 전달 -->
    <arg name="kinematics_config" value="$(arg kinematics_config)" />
  </include>

  <!-- Hand-E 그리퍼 런치 파일 포함 -->
  <include file="$(find hande_bringup)/launch/hande_bringup.launch">
    <arg name="sim" value="$(arg sim)" if="$(arg sim)"/>
    <arg name="mode" value="$(arg mode)"/> 
  </include>

    <group if="$(eval mode == 'real')">
        <include file="$(find realsense2_camera)/launch/rs_camera.launch">
            <arg name="enable_pointcloud" value="true"/>
            <arg name="align_depth" value="true"/>
             </include>
        <node pkg="tf2_ros" type="static_transform_publisher" name="tool0_to_camera_link_publisher"
              args="0.01 -0.06 0.046 1.57 -1.55 -3.24 tool0 camera_link" />
              </group>
</launch>